@use '../../styles/vars';

.animal-visits {
	box-shadow: vars.$shadow;
	border-radius: 10px;
	padding: vars.$gutter;
	text-align: justify;
	background-color: white;
	margin-bottom: 5px;

	& p {
		margin-bottom: 0;
	}
	& .tag-mood {
		text-transform: uppercase;
		font-weight: bold;
	}
	& .tag-mood--bad {
		color: red;
	}
	& .tag-mood--medium {
		color: orangered;
	}
	& .tag-mood--good {
		color: green;
	}
}

.walk-in-progress {
	@extend .animal-visits;
	// background-color: #d8cec8;
	background-color: #efefef;
	border: 1px dashed #7f7a78;

	& .tag-mood {
		text-transform: none;
		font-weight: bold;
		color: gray;
	}
}
