@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');


// Spacing
$gutter: 0.8rem;

// Colors variables
$primary-background-color: #fffaf7;
$secondary-background-color: #fdf3ed;
$primary-color: #eb651c;
$primary-color-hoover: #35450a;
$font-color: #222;
$icons-primary-color: #928161;
$icons-secondary-color: #35450a;
$icons-background-color: #d9d9d9;

// Fonts
$title-font:  "Amatic SC", cursive;
$text-font:  "Roboto", sans-serif;

// Fonts size
$h1-font-size: 3.5rem;
$h2-font-size: 2rem;
$h3-font-size: 1.5rem;
$font-size: 1rem;
$subtitle: 1.5rem;

// Font weight
$title-weight: 700;



