.app {
    height: 100vh;
    margin: 0 auto;
    position : relative;
}

@media (max-width: 599px) {
    .menu-desktop {
        display: none;
    }
}

@media (min-width: 600px) {
    .menu-mobile {
        display: none;
    }
}