@use '../../styles/vars';

.user {
	&-profile {
		min-height: 80% !important;
		background-color: red;
		text-align: center;
		align-items: center;
		margin-top: vars.$gutter * 2;
		&-img {
			height: 200px;
			object-fit: cover;
		}
		&-has-picture {
			border-radius: 100%;
			padding: vars.$gutter * 1;
			width: 200px;
		}
		&-name {
			color: vars.$font-color;
			text-transform: uppercase;
			font-size: 1rem !important;
		}
		&-role {
			color: vars.$font-color;
		}
	}
}
