@use '../../styles/vars';

.header-logo-mobile {
	width: 100%;
	margin: auto;
	display: block;
	padding-top: 10px;
}

.icon-nav {
	text-align: right;
}

.navbar {
	box-shadow: 0px 4px 33px -3px rgba(0, 0, 0, 0.25);
}

.mobile-nav {
	background-color: vars.$secondary-background-color;
	width: max-content;
	margin-top: vars.$gutter * 1.5;
	padding: vars.$gutter * 2 vars.$gutter * 5 vars.$gutter 0;
}

.mobile-header-logout {
	margin-left: vars.$gutter * 2;
}

@media (max-width: 599px) {
	.navbar {
		box-shadow: none;
	}
}

// .bg-light {
//     background-color: vars.$primary-background-color !important;
// }
