@use '../../styles/vars';

.home-container {
    display: flex;
    flex-direction: column;
    width: 800px;
    margin: auto;
    margin-top: 50px;
    
    .card-body {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 180px;
        padding: vars.$gutter * 3;

        .card-title {
            font-size: vars.$h3-font-size;
            color: vars.$primary-color;
        }

        .description {
            display: flex;
            flex-direction: column;
            width: 70%;
        }

        .container-image {
            width: 100px;
        }     
    }
}

.image {
    width: fit-content;
}