@use '../../styles/vars';

.header-logo {
    width: 50%;
}

.navbar{
    box-shadow: 0px 4px 33px -3px rgba(0, 0, 0, 0.25);
}

.icon-user {
    border-radius: 20px;
    width: 40px;
    height: 40px;
    color: vars.$primary-color;
    background-color: #d9d9d9;
    margin-left: 1rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

@media (max-width: 599px) {
    .navbar{
        box-shadow: none;
    }
}

// .bg-light {
//     background-color: vars.$primary-background-color !important;
// }