/** @format */

@use '../../styles/vars';

.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width:100%;
	background-color: vars.$primary-color-hoover;
	padding: vars.$gutter;
	color: white;
	margin-top: vars.$gutter * 8;

	& p {
		text-align: right;
		margin-bottom: 0;
	}
	& a {
		color: white;
	}
	& a:hover {
		color: vars.$primary-color;
	}
}
.footer-icon {
	width: 3rem;
}

@media screen and (max-width: 800px) {
	.footer-row {
		text-align: center;
		width: 100%;

		& p {
			text-align: center;
		}
		& div {
			margin-bottom: 0.5rem;
		}
	}
}
