@use '../../styles/vars';

h3 {
    text-align: center;
    font-size: 1.3rem;
}

.filter-part {
    text-align: center;
    margin: vars.$gutter *2;
}

label {
    border:1px solid #ccc;
    padding:10px;
    margin:0 0 10px;
    display:block;
    background-color: vars.$primary-color !important;
    opacity: 1;
}
   
label:hover {
    background:#eee;
    cursor:pointer;
}

.form-select:focus {
    border-color: vars.$primary-color !important;
    outline: 0;
    box-shadow: 0 0 0 0.1rem vars.$primary-color !important;
}

