@use '../../styles/vars';


.animal-information {
    box-shadow: vars.$shadow;
    border-radius: 10px;
    padding: vars.$gutter * 2;
    text-align: center;
    background-color: white;
    & img {
        margin-bottom: vars.$gutter * 2;
    }
    & .tag-info {
        display: inline-block;
        padding: 0.3rem 1rem;
        border: 1px solid vars.$primary-color;
        border-radius: 10px;
        margin: 0.5rem 2rem;
        color: vars.$primary-color;
        font-weight: bold;
        & p{
            margin-bottom:0;
        }
    }        
    & .tag{
        background-color : vars.$primary-color;
        margin: vars.$gutter vars.$gutter 0 vars.$gutter;
        padding: 3px 10px;
        border-radius: 10px;
        color: white;
    }
   
}
.animal-bio {
    box-shadow: vars.$shadow;
    border-radius: 10px;
    padding: vars.$gutter;
    text-align: justify;
    background-color: white ;
}